@import "material-icons/iconfont/material-icons.css";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
.spin {
  padding: 100px;
}
.links {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 10px;
  align-items: center;
  div:last-child {
    display: flex;
    gap: 15px;
    .links {
      text-decoration: none;
      font-size: 17px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0.07rem;
      border-radius: 10px;
      font-weight: 500;
      background-color: #0095f6;
    }
  }
}
.form {
  height: 100vh;
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 33%;
    background-color: white;
    padding: 35px;
    h4 {
      padding-top: 20px;
    }
  }
}
.userInfo {
  width: 550px;
  margin: auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 25px;
  .userInfo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    button {
      border-radius: 25px;
      font-size: 30px;
      padding: 8px;
      color: #e3e3e3;
      background-color: #000;
      border: 1px solid #e3e3e3;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 25px;
    }
  }
}
.userData {
  .posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    margin: auto;
    .post {
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-bottom: 1px solid white;
      padding: 10px;
      .likesComments {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        div {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
    }
  }
}
.ant-modal-content {
  position: relative;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 25px;
  }
}
.ant-tabs-tab-btn {
  color: white;
}
.connections {
  color: white;
}
.connections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  .suggesstions {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    padding: 9px;
    button:last-child {
      font-weight: 600;
    }
  }
}
